@import "colors.css";

* {
  border: dotted red 1px;
  border: 0;
  /* DEBUG: Uncomment to visualize boundaries */
  border-radius: 0;
  font-family: "{monospace}";
  padding: 0;
  margin: 0;
  background: transparent;
  font-size: 1rem;
}

window.#waybar {
  min-width: 1rem;
  background: transparent;
}

tooltip,
#tray menu {
  background: alpha(#262626, 0.999);
  border-radius: 0.5rem;
  padding: 0.25rem;
}

#custom-separator {
  font-family: "{monospace}";
  margin: -10rem -10rem;
  font-size: 10rem;
  color: @surface_bright;
}

#top,
#workspaces,
#bottom {
  background: @surface_container;
  padding: 0.5rem 0;
  border-radius: 0 1rem 1rem 0;
}

box.empty {
  font-size: 0;
  margin: 0;
  padding: 0;
}

#privacy {
  margin: 0.25rem 0;
  padding: 0.25rem;
  background: @surface_bright;
  border-radius: 0.5rem;
}

#taskbar > * {
  margin: 0.25rem 0;
}

#workspaces {
  min-width: 0;
  padding: 0.5rem;
  margin: 0.5rem 0;
}

#workspaces button {
  color: transparent;
  transition: all 0.15s ease;
  border-radius: 9999px;
  margin: 0.1rem 0rem;
  padding: 0;
  background: @surface_bright;
  min-width: 0.2rem;
  min-height: 0.2rem;
}

#workspaces button.active {
  background: @on_primary_container;
  padding: 0.4rem 0;
}

#workspaces button:hover {
  background: @primary_container; 
}

#bottom,
#top {
  color: @on_surface;
  padding-right: 0.25rem;
  padding-left: 0.25rem;
}

#bluetooth,
#network,
#pulseaudio,
#custom-system-info,
#cpu,
#memory,
#temperature,
#disk {
  font-size: 1rem;
}

#bluetooth.battery,
#battery {
  font-family: "{monospace}";
  font-size: 0.5rem;
}

#battery.icon,
#bluetooth,
#network,
#pulseaudio,
#custom-system-info,
#cpu,
#memory,
#temperature,
#disk {
  font-family: "{monospace}";
}

#battery {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

#battery widget > * {
  background: @surface_bright;
}

#battery.warning {
  background: #854d0e;
}

#battery.critical {
  background: @error_container;
}

#battery.charging {
  background: @primary_container;
}

#battery.icon {
  margin: 0;
}

#battery widget:first-child > * {
  border-radius: 0.5rem 0.5rem 0 0;
}

#battery widget:last-child > * {
  border-radius: 0 0 0.5rem 0.5rem;
}

#battery > *:first-child * {
  font-size: 1rem;
  margin: 0;
}

#battery > *:last-child * {
  margin: 0;
  margin-top: -0.25rem;
  font-size: 1rem;
}

#bluetooth.battery.on {
  font-size: 0;
  margin: 0;
  padding: 0;
}

#tray {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

#network,
#pulseaudio,
#custom-system-info,
#cpu,
#memory,
#temperature,
#disk {
  margin-top: 0rem;
}
#mpris {
  font-family: "{monospace}";
  font-size: 1rem;
  margin: 0.25rem 0;
}

#clock {
  font-family: "{monospace}";
  font-size: 1rem;
  margin: 0.25rem 0;
}
